<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    {% load static %}
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <h1>Welcome pyweb{{IP}}</h1>
    {% if account %}
    <div>
        <h2>{{account}}</h2>
        <p><a href="/logout">Logout</a></p>
    </div>
    {% else %}
    <div>
        <p><a href="/login">Login</a></p>
        <p><a href="/register">Register</a></p>
    </div>
    {% endif %}
</body>

</html>