<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI"
				 path="*"
				 verb="*"
				 modules="FastCgiModule"
				 scriptProcessor="c:\python27\python.exe|c:\python27\lib\site-packages\wfastcgi.pyc"
				 resourceType="Unspecified" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="E:\pyweb\website" />
		<add key="DJANGO_SETTINGS_MODULE" value="website.settings" />
	</appSettings>
</configuration>